.link {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.link a:nth-child(1) {
  background-color: #020636;
  color: #F8F0E3;
  border: #020636;
}

@media screen and (max-width: 991px) {
  .link a:nth-child(1) {
    margin-bottom: 20px;
  }
}

.link a:nth-child(2) {
  color: #020636;
}

.link a:nth-child(2) img {
  padding-right: 5px;
}

.link a {
  border: 2px solid #020636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0.5vw;
  width: 9vw;
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  .link a {
    width: 100px;
  }
}

.link a span {
  font-size: 1vw;
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Nunito Sans;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .link a span {
    font-size: 10px;
  }
}

.d-flex {
  gap: 20px;
}

@media screen and (max-width: 991px) {
  .d-flex {
    display: none !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -6vw;
    margin-bottom: 3vw;
  }
}

.navbar-nav {
  margin: auto;
  font-size: 1.5vw;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (max-width: 984px) {
  .navbar-nav {
    font-size: 22px;
  }
}

.navbar-nav li {
  padding-left: 2vw;
}

.navbar-nav .nav-link {
  color: #020636 !important;
  font-family: Nunito Sans;
  font-weight: 700;
}

.navbar-nav .home {
  color: #D65123 !important;
}

.navbar {
  background-color: #f8f0e3 !important;
}

.section1 {
  background-color: #020636;
}

.sec1 {
  color: #F8F0E3;
  padding-top: 70px;
  padding-bottom: 12vw;
}

.sec1 div:nth-child(1) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sec1 div:nth-child(1) h3 {
  font-size: 45px;
  font-weight: 700;
  font-family: Nunito Sans;
  width: 29vw;
  margin-top: 3vw;
}

@media screen and (max-width: 768px) {
  .sec1 div:nth-child(1) h3 {
    font-size: 8vw;
    width: 78vw;
    padding-top: 2vw;
  }
}

.sec1 div:nth-child(1) h3 .dress {
  border: 2px solid #D65123;
  border-radius: 60%;
  padding: 7px 0px 7px 5px;
}

.sec1 div:nth-child(1) h3 span:nth-child(2) {
  color: #D65123;
}

.sec1 div:nth-child(1) p {
  color: rgba(248, 240, 227, 0.8);
  padding-bottom: 20px;
}

.sec1 div:nth-child(1) .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 25rem;
}

@media screen and (max-width: 768px) {
  .sec1 div:nth-child(1) .button {
    display: -ms-grid;
    display: grid;
    gap: 30px;
    width: 0rem;
    margin-bottom: 15px;
  }
}

.sec1 div:nth-child(1) .button a {
  text-decoration: none;
  color: #F8F0E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  width: 10rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-family: Nunito Sans;
  font-size: 16px;
  border-radius: 10px;
}

.sec1 div:nth-child(1) .button a:nth-child(1) {
  background-color: #F8F0E3;
  color: #020636;
}

.sec1 div:nth-child(1) .button a:nth-child(1) img {
  width: 25%;
}

.sec1 div:nth-child(1) .button a:nth-child(2) {
  background-color: #D65123;
}

.sec1 div:nth-child(1) .button a:nth-child(2) img {
  padding-right: 4px;
  width: 20%;
}

.sec1 .vest {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #f8f0e380;
  padding: 5px;
  font-size: 12px;
  padding-left: 10px;
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .sec1 .vest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2vw;
  }
}

.sec1 .vest img {
  padding-right: 10px;
  width: 5%;
}

.section2 {
  color: #020636;
}

.section2 div:first-child .iphone {
  position: absolute;
  z-index: +1;
  top: 705px;
}

@media only screen and (max-width: 1224px) {
  .section2 div:first-child .iphone {
    position: relative;
    z-index: 0;
    top: 0;
    padding-top: 20px;
  }
}

@media only screen and (max-width: 989px) {
  .section2 div:first-child .iphone {
    display: none;
  }
}

.section2 div:nth-child(2) {
  padding-top: 50px;
}

.section2 div:nth-child(2) h1:first-child {
  font-weight: 800;
  font-family: Nunito Sans;
}

.section2 div:nth-child(2) h5 {
  font-style: normal;
  font-family: Nunito Sans;
  font-weight: 700;
  line-height: 40px;
}

.section2 div:nth-child(2) p {
  font-size: 17px;
  line-height: 2;
}

.section2 div:nth-child(2) p span {
  color: #020636;
  font-weight: 700;
}

.section2 div:nth-child(2) .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

@media only screen and (max-width: 998px) {
  .section2 div:nth-child(2) .button {
    width: 30rem;
  }
}

@media only screen and (max-width: 768px) {
  .section2 div:nth-child(2) .button {
    display: -ms-grid;
    display: grid;
    gap: 20px;
    width: 0rem;
  }
}

.section2 div:nth-child(2) .button span {
  padding-left: 30px;
}

.section2 div:nth-child(2) .button a {
  text-decoration: none;
  color: #020636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  width: 14rem;
  padding: 10px;
  font-weight: 700;
  font-family: Nunito Sans;
  font-size: 15px;
  border-radius: 10px;
}

.section2 div:nth-child(2) .button a h5 {
  font-size: 20px;
  line-height: 1;
}

.section2 div:nth-child(2) .button img {
  width: 15%;
  margin-right: -20px;
}

.section2 div:nth-child(2) .button a:nth-child(1) {
  background-color: #D65123;
  color: #020636;
}

.section2 div:nth-child(2) .button a:nth-child(2) {
  background-color: #020636;
  color: #F8F0E3;
}

.section3 {
  padding-top: 150px;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .section3 {
    padding-top: 0%;
  }
}

.section3 #Work {
  padding-top: 90px;
}

.section3 article div:first-child span:first-child {
  font-size: 30px;
  font-family: Nunito Sans;
  color: #020636;
  font-weight: 700;
  line-height: 2;
}

.section3 article div:first-child span:first-child img {
  padding-right: 1vw;
}

.section3 article div:first-child span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section3 article div:first-child span img {
  padding-right: 1vw;
}

.section3 article div:first-child a {
  text-decoration: none;
  border: 2px solid black;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px;
  background-color: #020636;
  color: #F8F0E3;
  font-size: 20px;
  font-weight: 500;
  font-family: #F8F0E3;
}

@media only screen and (max-width: 336px) {
  .section3 article div:first-child a {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1opx;
  }
}

.section3 .pad {
  padding-bottom: 5vw;
}

@media only screen and (max-width: 768px) {
  .section3 div:nth-child(2) {
    padding-top: 30px;
  }
}

.section4 {
  background-image: url("/images/upcurve.png"), url("/images/downcurve.svg"), url("/images/Rectangle.svg"), url("/images/dot.svg"), url("/images/dot.svg"), url("/images/dot.svg"), url("/images/Rectangle.svg"), url("/images/dot.svg"), url("/images/Rectangle.svg");
  background-position: top right, bottom left,  10% 0%, 100% -45%, -15% 70%, 20% 40%, 30% 80%, 75% 100%, 85% 40%;
  background-repeat: no-repeat, no-repeat;
  background-size: 40%,40%,3%,30%,30%,30%,3%,30%,3%;
  background-color: #020636;
  color: #F8F0E3;
}

@media screen and (max-width: 768px) {
  .section4 {
    background-image: none;
  }
}

.section4 .sec4 {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 25px;
}

.section4 .sec4 h3 {
  font-size: Nunito Sans;
  font-weight: 700;
  font-style: normal;
  text-align: center;
}

.section4 .sec4 p {
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #f8f0e3;
  font-family: Nunito Sans;
}

.section4 .sec4 .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 40px;
  margin-bottom: 40px;
}

@media screen and (max-width: 768px) {
  .section4 .sec4 .btn {
    display: -ms-grid;
    display: grid;
  }
  .section4 .sec4 .btn a {
    margin-bottom: 30px;
  }
}

.section4 .sec4 .btn a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.5;
  padding: 2px;
  padding-top: 2px;
  font-weight: 700;
  font-family: Nunito Sans;
  font-size: 15px;
  border-radius: 10px;
  width: 14rem;
}

.section4 .sec4 .btn a h5 {
  font-size: 20px;
  line-height: 1;
}

.section4 .sec4 .btn a img {
  width: 15%;
  margin-right: 20px;
}

.section4 .sec4 .btn a:first-child {
  background-color: #D65123;
  color: #F8F0E3;
  padding-top: 10px;
}

@media screen and (max-width: 768px) {
  .section4 .sec4 .btn a:first-child {
    padding-top: 10px;
  }
}

.section4 .sec4 .btn a:nth-child(2) {
  background-color: #F8F0E3;
  color: #020636;
}

.section4 .sec4 .bendphone {
  padding-bottom: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto !important;
}

@media screen and (max-width: 700px) {
  .section4 .sec4 .bendphone {
    display: none;
  }
}

@media only screen and (min-width: 700px) {
  .section4 .sec4 .iphoneMobile {
    display: none;
  }
}

.section5 {
  background-color: #f8f0e3;
  padding-bottom: 30px;
}

.section5 .accord {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section5 .accordion {
  width: 1000px !important;
  background-color: #f8f0e3 !important;
}

.section5 .accordion-item .accordion-button {
  background-color: #f8f0e3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) !important;
  margin-bottom: 20px;
}

.section5 .accordion-flush .accordion-item {
  background-color: #f8f0e3;
}

footer {
  background-color: #020636;
  color: #F8F0E3;
}

footer .foot {
  padding-top: 40px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

footer .foot .roll {
  max-width: 1600px;
}

@media screen and (max-width: 768px) {
  footer .foot .careers {
    padding-top: 20px;
  }
}

footer .foot ul {
  list-style-type: none;
  padding-top: 10px;
  display: contents;
}

footer .foot ul li {
  padding-top: 5px;
}

footer .foot .position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 768px) {
  footer .foot .position {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

footer .foot .icon img {
  padding-top: 50px;
  width: 13%;
  padding-right: 6px;
}

@media only screen and (max-width: 950px) {
  footer .foot .icon img {
    display: none;
  }
}

footer .foot .iconShow {
  padding-top: 20px;
}

footer .foot .iconShow img {
  width: 8%;
  padding-right: 5px;
}

@media only screen and (min-width: 950px) {
  footer .foot .iconShow img {
    display: none;
  }
}

footer .comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
}

@media only screen and (max-width: 950px) {
  footer .comment {
    display: -ms-grid;
    display: grid;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

footer .comment div:nth-child(2) p a {
  text-decoration: none;
  color: #F8F0E3;
}

.wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.dynamic-text {
  margin-left: -20px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.dynamic-text li {
  list-style-type: none;
  font-size: 50px;
  font-weight: 900;
  font-family: Nunito Sans;
  position: relative;
  top: 0;
  -webkit-animation: slide 5s steps(3) infinite;
          animation: slide 5s steps(3) infinite;
}

.dynamic-text li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #020636;
  border-left: 2px solid red;
  -webkit-animation: typing 1.5s steps(10) infinite;
          animation: typing 1.5s steps(10) infinite;
}

@-webkit-keyframes slide {
  100% {
    top: -260px;
  }
}

@keyframes slide {
  100% {
    top: -260px;
  }
}

.dynamic-text li span {
  position: relative;
}

@-webkit-keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}
/*# sourceMappingURL=style.css.map */