.link {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.link a:nth-child(1) {
  background-color: #020636;
  color: #F8F0E3;
  border: #020636;
}

@media screen and (max-width: 991px) {
  .link a:nth-child(1) {
    margin-bottom: 20px;
  }
}

.link a:nth-child(2) {
  color: #020636;
}

.link a:nth-child(2) img {
  padding-right: 5px;
}

.link a {
  border: 2px solid #020636;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -ms-flex-item-align: center;
      align-self: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  padding: 0.5vw;
  width: 9vw;
  border-radius: 10px;
}

@media screen and (max-width: 991px) {
  .link a {
    width: 100px;
  }
}

.link a span {
  font-size: 1vw;
  line-height: 1;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-family: Nunito Sans;
  font-weight: 700;
}

@media screen and (max-width: 991px) {
  .link a span {
    font-size: 10px;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.d-flex {
  width: 30vw;
}

@media screen and (max-width: 991px) {
  .d-flex {
    display: none !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: -6vw;
    margin-bottom: 3vw;
  }
}

.navbar-nav {
  margin: auto;
  font-size: 1.5vw;
  -ms-flex-line-pack: center;
      align-content: center;
}

@media only screen and (max-width: 984px) {
  .navbar-nav {
    font-size: 22px;
  }
}

.navbar-nav li {
  padding-left: 2vw;
}

.navbar-nav .nav-link {
  color: #020636 !important;
  font-family: Nunito Sans;
  font-weight: 700;
}

.navbar-nav .home {
  color: #D65123 !important;
}

.navbar {
  background-color: #F8F0E3 !important;
}

.section1 {
  background-color: #020636;
}

.sec1 {
  color: #F8F0E3;
  padding-top: 6vw;
  padding-bottom: 12vw;
}

.sec1 div:nth-child(1) {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.sec1 div:nth-child(1) h3 {
  font-size: 2.5vw;
  font-weight: 700;
  font-family: Nunito Sans;
  width: 29vw;
  margin-top: 3vw;
}

@media screen and (max-width: 768px) {
  .sec1 div:nth-child(1) h3 {
    font-size: 8vw;
    width: 78vw;
    padding-top: 2vw;
  }
}

.sec1 div:nth-child(1) h3 span:nth-child(1) {
  border: 2px solid #D65123;
  border-radius: 60%;
  padding: 7px 0px 7px 5px;
}

.sec1 div:nth-child(1) h3 span:nth-child(2) {
  color: #D65123;
}

.sec1 div:nth-child(1) p {
  width: 22.1vw;
  font-size: 1vw;
  color: rgba(248, 240, 227, 0.8);
  padding-bottom: 20px;
}

@media screen and (max-width: 768px) {
  .sec1 div:nth-child(1) p {
    font-size: 2.5vw;
    width: 60vw;
  }
}

.sec1 div:nth-child(1) .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 23vw;
}

@media screen and (max-width: 768px) {
  .sec1 div:nth-child(1) .button {
    width: 45vw;
  }
}

.sec1 div:nth-child(1) .button a {
  text-decoration: none;
  color: #F8F0E3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1;
  width: 10vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 8px 0px 8px 0px;
  font-weight: 700;
  font-family: Nunito Sans;
  font-size: 0.9vw;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .sec1 div:nth-child(1) .button a {
    width: 20vw;
    font-size: 1.5vw;
    margin-bottom: 5vw;
  }
}

.sec1 div:nth-child(1) .button a img {
  width: 20%;
}

.sec1 div:nth-child(1) .button a:nth-child(1) {
  background-color: #F8F0E3;
  color: #020636;
}

.sec1 div:nth-child(1) .button a:nth-child(2) {
  background-color: #D65123;
}

.sec1 div:nth-child(1) .button a:nth-child(2) img {
  padding-right: 4px;
}

.sec1 .vest {
  border: 1px solid black;
  border-radius: 20px;
  background-color: #F8F0E380;
  padding: 5px;
  font-size: 0.9vw;
  padding-left: 10px;
  padding-right: 30px;
}

@media only screen and (max-width: 767px) {
  .sec1 .vest {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 2vw;
  }
}

.sec1 .vest img {
  padding-right: 10px;
}

.section2 {
  color: black;
}

.section2 div:first-child .iphone {
  position: absolute;
  z-index: +1;
  top: 49vw;
}

.section2 div:nth-child(2) {
  padding-top: 5vw;
}
/*# sourceMappingURL=style.css.map */